*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
}

.topBtns{
    width: 20%;
    height: 100vh;
    display: flex;
    background-color: #dfe6e9;
    flex-direction: column;
    box-shadow: 1px 0px 5px #49494973;
    padding: 0 2px;

    a{
        height: 5vh;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0px 35px;
        font-size: 1.5rem;
        text-decoration: none;
        color: #1d1d1d;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        transition: background-color 100ms;

        i{
            margin-right: 30px;
            font-size: 1.7rem;
        }


        &:hover{
            background-color: #b2bec3;
        }
    }

    a:first-child{
        margin-top: 30px;
    }
}

.container{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active{
    background-color: #b8cdd6;
    border-radius: 4px;
}

form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 50px;

    p{
        width: 100%;
        position: relative;

        label{
            margin-right: 10px;
        }
        input[type="checkbox"]{
            position: absolute;
            top: 50%;
            padding-left: 10px;
            transform: translateY(-50%);
            opacity: 1;
            cursor: pointer;
        }
    }

    h1{
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        color: #525252;
        margin: 30px;
    }

    label{
        font-family: "Poppins", sans-serif;
        font-weight: 300;
    }

    input{
        width: 100%;
        height: 40px;
        outline: none;
        margin-bottom: 10px;
        padding-left: 7px;
        background-color: #f5f5f5;
        border: 1px solid #e7e6e6 !important;
        color: black;
        border-radius: 3px;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 300;
        transition: 250ms;
    }

    input[type="file"]{
        padding-left: 0px;
        cursor: pointer;
    }

    input::file-selector-button {
        height: 100%;
        width: 20%;
        color: black;
        border-radius: 3px;
        background-color: #dbdbdb;
        border: none;
        margin-right: 10px;
        cursor: pointer;
    }



    select{
        width: 100%;
        outline: none;
        height: 35px;
        margin-bottom: 10px;
        padding-left: 7px;
        background-color: #f5f5f5;
        border: none;
        color: black;
        border-radius: 3px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        transition: 250ms;
        cursor: pointer;


        option{
            font-family: "Poppins", sans-serif;
            font-weight: 300;
        }
    }

    textarea{
        width: 100%;
        outline: none;
        height: 70px;
        margin-bottom: 10px;
        padding: 7px;
        background-color: #f5f5f5;
        border: transparent;
        color: black;
        border-radius: 3px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        transition: 250ms;
    }

    input[type=submit]{
        background-color: #2ecc71;
        color: white;
        margin: 10px 0px;
        cursor: pointer;
    }

    input[type="checkbox"]{
        cursor: pointer;
        accent-color: #2ecc71;
        width: auto;
    }

    input, select, textarea {
        border: 1px solid transparent;
    }

    input:focus, select:focus, textarea:focus {
        border-color: #2ecc71;
    }

}

.viewStudent{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


table {
    width: 80%;
    border-collapse: collapse;
    /* box-shadow: 0 5px 10px #e1e5ee; */
    border: 1px solid #e1e5ee;
    background-color: white;
    text-align: left;
    overflow: scroll;
    font-family: "Poppins", sans-serif;
  }

  table thead {
    /* box-shadow: 0 5px 10px #e1e5ee; */
    border: 1px solid #e1e5ee;
    text-align: center;
  }

  table th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  table td {
    padding: 1rem 2rem;
    text-align: center;
    font-weight: 300;

    a{
        text-decoration: none;
        color: #ffffff;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: 0.1s ease-in;
    }

    .update{
        margin-right: 5px;
        background-color: #2ecc71;

        &:hover{
            background-color: #27ae60;
        }
    }

    .delete{
        background-color: #e74c3c;
        &:hover{
            background-color: #c0392b;
        }
    }
  }

  table tr:nth-child(even) {
    background-color: #f4f6fb;
  }